.weather-app-container {
	position: relative;
	width: 1440px;
	height: 1024px;

	background: #ffffff;
}

.weather-app-container {
	position: absolute;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;

	background: url('./img/backgound.jpg') no-repeat;
	background-size: cover;
}

.input-query {
	position: absolute;
	width: 402px;
	height: 70px;
	left: 122px;
    top: 417px;
    
	background: linear-gradient(90deg, #669cf8 7.14%, #49c1fe 98.51%);
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 16px;
}

.weather-data-container {
	position: absolute;
	width: 467px;
	height: 658px;
	left: 730px;
	top: 158px;

	mix-blend-mode: hue;
	border-radius: 10px;
}

.country-quary {
	position: absolute;
	width: 206px;
	height: 66px;
	left: 852px;
	top: 296px;
}
